{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
